.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
  animation-name: chartjs-render-animation;
  animation-duration: 0.001s;
  animation-timing-function: initial;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}